extends layout

block content
  if errorMessage
    div.errors
        errorMessage
  else
    div.authenticatedContent

    p.centered Use the form below to see the Hello World Interaction operate. Results are displayed below the form.
    div#input
        div
            h3 Event List
            ul.events
        div.buttonWrap
            button(id='fetch') Get latest results
        div.buttonWrap
            button(id='clear') Clear Activity Results
        ul.results
